html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
svg {
  max-width: 100%;
}

.reset-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

:root {
  --white: #fff;
  --black: #000;
  --grey: #6C6E7B;
  --light-grey: #ECF2F5;
  --brand-color: #841844;
}

.container {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 200px;
  padding-right: 200px;
}

body {
  font-family: "Open-sans", sans-serif;
  font-size: 16px;
  line-height: 1.3;
  background-color: #ffffff;
}

/* header */
.header__container {
  display: flex;
}

.header__logo {
  margin: 0;
  padding: 40px 0px 42px 0px;
}

/* hero */
.hero {
  margin-bottom: 54px;
  background-image: url(../img/herobg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__wrap {
  display: flex;
}

.hero__content {
  display: flex;
  flex-direction: column;
  padding-top: 218px;
  padding-bottom: 256px;
}

.hero__title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 64px;
  line-height: 140%;
  color: var(--white);
}

.hero__descr {
  margin: 0px;
  font-family: var(--font-family);
  font-weight: 200;
  font-size: 32px;
  line-height: 51px;
  line-height: 160%;
  color: var(--white);
}

/* news */
.news__title {
  margin: 0;
  margin-bottom: 59px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 64px;
  line-height: 140%;
  color: var(--black);
}

/* news-card */
.news__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.news__card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  cursor: pointer;
  margin-bottom: 83px;
  margin-right: 40px;
  height: 364px;
  margin-right: 40px;
}

.news__card > p {
  width: 674px;
  margin: 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  color: var(--body-text);
}

.news__card_date {
  font-weight: 400;
  font-size: 16px;
  color: var(--grey);
  border-radius: 20px;
  padding: 6px 18px;
  width: 118px;
  height: 34px;
  background: var(--light-grey);
}

.news__card_title {
  margin: 0;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 32px;
  color: var(--black);
  transition: color .3s linear;
  width: 674px;
}

.news__card_descr {
  max-width: 674px;
  margin: 0;
  flex-wrap: wrap;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: var(--black);
}

.news_card_btn {
  display: flex;
  font-weight: 600;
  font-size: 16px;
  margin-top: 30px;
  text-transform: uppercase;
  color: var(--brand-color);
  border: 2px solid #9b407a;
  border-radius: 50px;
  padding: 16px 40px;
  width: 213px;
  height: 54px;
  transition: color .3s linear,background-color .3s linear;
}

.arrow {
  flex-shrink: 0;
  margin-left: 10px;
  transition: fill .3s linear;
}

.news_card_btn:focus-visible {
  background-color: var(--brand-color);
  color: var(--white);
  fill: var(--white);
}

.news__card:hover .news__card_title {
  color: var(--brand-color);
}

.news__card:hover .news_card_btn {
  background-color: var(--brand-color);
  color: var(--white);
  fill: var(--white);
}

.news__borderbottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* pagination */
.pagination {
  text-align: right;
  user-select: none;
  margin-bottom: 83px;
}

.current-page {
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--brand-color);
  border: 2px solid var(--brand-color);
  border-radius: 50px;
  padding: 16px 23px;
  width: 56px;
  height: 54px;
  transition: background-color .3s linear,color .3s linear, transform .3s ease;
}

.current-page:hover {
  background-color: var(--brand-color);
  color: var(--white);
  cursor: pointer;
  transform: translateX(-5px);
}

.next-page {
  border: 2px solid var(--brand-color);
  border-radius: 50px;
  padding: 16px 41px;
  width: 106px;
  height: 54px;
  color: var(--brand-color);
  transition: background-color .3s linear, color .3s linear, transform .3s ease;
  cursor: pointer;
}

.active {
  background-color: var(--brand-color);
  color: var(--white);
}

.disable {
  background-color: var(--white);
  color: var(--brand-color);
}

.next-page:hover {
  background-color: var(--brand-color);
  color: var(--white);
  transform: translateX(5px);
}

.pagination li {
  display: inline-block;
  margin: 5px;
}

/* footer */
.footer {
  margin-top: 63.59px;
}

.footer__descr {
  font-weight: 400;
  font-size: 20px;
  color: var(--black);
  margin-bottom: 84px;
}

